/*
 * Reveal Modal Overrides
 */


.reveal-modal-bg {
  background: rgba($white,.95);
}

#m-scan-qr,
#m-import-csv {
  background: transparent;
  border: none;
  text-align: center;
  @include box-shadow(none);

  p, h5 {
    color: $medium-gray-2
  }

  h5 {
    background: image-url('spinner.gif') no-repeat left center;
    background-size: 21px;
    text-indent: 30px;
    height: 21px;
    line-height: 21px;
    display: none;
  }

  h6 {
    padding: 100px 0 0;
    font-size: 1.2em;
  }

  p {
    font-weight: 300;
    font-size: .85em;
    width: 420px;
    margin: 0 auto 1em;
  }

  .helptext {
    display: none;
  }

  .scan-viewer {
    background: image-url('static.gif');
    //background-size: 76px;
    width: 640px;
    height: 480px;
    margin: 0 auto 1em;
    position: relative;
    cursor: pointer;
    h6 {
      color: $white;
      padding: 140px 0 100px
    }
    p {
      color: rgba($white,.5);
    }
    .overlay {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 115px;
      left: 195px;
      z-index: 100;
      margin: 0 auto;
      border: 3px dashed rgba($white,.5);
      @include border-radius(20px);
    }
  }

  .close-reveal-modal {
    position: fixed;
    top: 0;
    right: 14px;
    font-size: 5em;
    font-weight: 100;
    @include opacity(.5);
    text-decoration: none;
    &:hover { opacity: 1; }
  }
} // #m-scan-qr

#qr-canvas {
  display: none;
}
