$font-stack: "proxima-nova",sans-serif;

* {
  font-size: 20px;
  line-height: 1.2em;
  font-family: $font-stack;
  color: $dark-gray;
  font-weight: 300;
  @media only screen and (max-width: $small-screen) {
    font-size: 16px;
    line-height: 1.1em;
  }
}

h1,h2,h3,h4,h5,h6 { font-family: $font-stack; color: $dark-gray; font-weight: 600; }

a {
  color: darken($brand, 5%);
  text-decoration: underline;
  font-size: inherit;
  @include transition(all .2s);
  &:hover {
    color: darken($brand, 15%);
  }
}

p {
  font-weight: 300;
}

::selection {
  background: $brand;
  color: $white !important;
  }
::-moz-selection {
  background: $brand;
  color: $white !important;
}

/*
 * Header
 */

@-webkit-keyframes topspin  {
  0%  { -webkit-transform:  rotate(0deg); }
  50%  { -webkit-transform:  rotate(-17deg) translate(0,2px); }
  100%  { -webkit-transform:  rotate(0deg); }
}

@-webkit-keyframes bounce  {
  0%  { -webkit-transform:  translate(0,10px); }
  50%  { -webkit-transform:  translate(0,0); }
  100%  { -webkit-transform:  translate(0,10px); }
}


.header-bg {
  @include background-gradient(#1D232B,#49586A);
  position: relative;
  min-height: 700px;

  @media only screen and (max-width: $small-screen) {
    min-height: 100%;
  }
}

header {
  padding: 16px 16px 0;
  text-align: center;

  nav {
    margin-bottom: 0px;
    animation-delay:1s;
    -webkit-animation-delay:1s;

    ul {
      list-style: none;
      overflow: hidden;
      margin: 0;
      li {
        display: inline-block;
        float: right;
        a { margin: 0 !important; }

        &.ios, &.signup {
          margin: 0 8px;
          @media only screen and (max-width: $small-screen) {
            display: none;
          }
        }
        &.tweet {
          padding-top: 6px;
          margin-right: 0;

          @media only screen and (max-width: $small-screen) {
            display: none;
          }
        }
        &.logo {
          float: left;
          margin: 0;

          h1 {
            background: image-url('landing/logo.svg') no-repeat top left;
            background-size: contain;
            background-position: 28px 0;
            color: $white;
            font-family: $font-stack;
            font-style: italic;
            font-size: 0;
            margin: 0;
            width: 134px;
            height: 24px;
            .top {
              background: image-url('landing/top.svg') no-repeat center;
              background-size: contain;
              width: 22px;
              height: 32px;
              display: block;
              float: left;
              margin: -5px 0 0;
              -webkit-transform-origin: 28% 75%;
              -webkit-animation: topspin 1.2s ease-in-out infinite;
              -webkit-animation-delay: 2s;
            }
          }
        }
      }
    }
  }

  h2 {
    font-weight: 100;
    font-size: 1.8em;
    color: $white;
    margin: 50px auto 0;
    max-width: 1050px;
    @media only screen and (max-width: $small-screen) {
      font-size: 1.8em;
      margin: 20px auto .5em;
    }
  }

  h4 {
    color: $white;
    font-size: .8em;
    font-weight: 200;
    margin-bottom: 40px;

    a.huh {
      color: $white;
    }
  }

  a.button {
    margin: 0 10px;

    @media only screen and (max-width: $small-screen) {
      width: 100%;
      margin: 10px 0;
      padding: 18px 0;
    }
  }

  .beta {
    animation-delay:1s;
    -webkit-animation-delay:1s;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -120px;
    @media only screen and (max-width: $small-screen) {
      position: relative;
      margin: 60px auto 0;
      left: 0;
    }
  }
  #iphones {
    padding-top: 20px;
  }

  .buttons {
    animation-delay:1s;
    -webkit-animation-delay:1s;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -220px;

    @media only screen and (max-width: $small-screen) {
      display: none;
    }
  }
  .mobile-button {
    display: none;
    @media only screen and (max-width: $small-screen) {
      //display: block; // disabled until iOS app launches
    }
  }

  .screen {
    img {
      min-height: 350px;
      max-height: 100%;
      max-width: 950px;
      @include box-shadow(0 10px 30px rgba(0,0,0,.5));
      @include border-radius(6px);

      @media only screen and (max-width: $medium-screen) {
        min-height: 0;
      }
    }

    @media only screen and (max-width: $small-screen) {
      //display: none;
      img {
        width: 100%;
        min-height: 0;
      }

    }
  }

  .read-more {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    text-decoration: none;
    display: block;
    padding: 20px 100px 6px;
    -webkit-animation: bounce 3s ease-in-out infinite;
    -webkit-animation-delay: 1s;

    &:after {
      content: '';
      width: 6px;
      display: inline-block;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $white;
    }
  }
}

#unified-bg, #currencies-bg {
  @include background-gradient(#fcfcfc,#ffffff);
  border-top: 1px solid #eee;
  padding: 80px 0;
  @media only screen and (max-width: $small-screen) {
    padding: 30px 0;
  }
}
.everywhere-bg {
  background: rgba(#1F2932,.9) image-url('landing/everywhere-bg.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  @media only screen and (max-width: $small-screen) {
    padding: 25px 0;
    background-attachment: scroll;
  }
}
#security-bg {
  @include background-gradient(#fcfcfc,#ffffff);
  border-top: 1px solid #eee;
  padding: 80px 0;
  @media only screen and (max-width: $small-screen) {
    padding: 30px 0;
  }
}

section {
  @include grid-row();
  text-align: center;

  h3 {
    font-family: $font-stack;
    font-weight: 400;
    font-size: 1.8em;
    margin: 0 auto 50px;
    @media only screen and (max-width: $small-screen) {
      margin-bottom: 25px;
    }
  }

  &.unified {
    .preview {
      margin: 40px auto 60px;
      width: 90%;
      @media only screen and (max-width: $small-screen) {
        margin: 25px 0 40px;
        margin-left: 5%;
      }
    }

    .app-store {
      width: 180px;
      display: block;
      margin: 20px auto 0;
      opacity: .6;

      &:hover, &:active {
        opacity: 1;
      }

      &.soon {
        opacity: .1;
        margin-bottom: 10px;
      }
    }
  }

  &.everywhere {
    h3 {
      color: $white;
      margin-bottom: 0;
    }
    img {
      margin-bottom: 40px;
      @media only screen and (max-width: $small-screen) {
        width: 90%;
        margin-left: 5%;
      }
    }
  }

  &.currencies {
    img {
      margin: 40px auto;
      @media only screen and (max-width: $small-screen) {
        margin: 20px auto;
      }
    }
  }

  &.security {
    .columns {
      p {
        text-align: left;
        font-size: .9em;
        a { font-size: 1em; }
      }
      img {
        height: 80px;
        margin: 20px auto 40px;
      }
    }
  }

  article {
    @extend .large-8, .small-12, .columns, .small-centered;
  }
  article.small {
    @extend .large-5, .small-11, .columns, .small-centered;
  }
}
