%h2 Your Wallets

%table
  %thead
    %tr
      %th Currency
      %th Name
      %th Public Address
  %tbody
    - current_user.wallet_addresses.each do |w|
      %tr
        %td= w.currency
        %td= w.name
        %td= w.public_address

= link_to '+ Add Wallet', new_wallet_address_path
