- content_for :title do
  Admin Portal

%section
  %article
    %h1 Admin Portal

    %ul
      %li
        %a{href: admin_announcements_path} Announcements
      - if Rails.env.development?
        %li
          %a{href: letter_opener_web_path} Letter Opener
