.content
  %table
    %tr
      %td
        %h4 Hey #{@user.display_name},

        %p
          We received a request to reset your
          %a{href: root_url} Balances
          password.

        %p
          %a.btn{href: edit_password_url(@user, :reset_password_token => @token)} Reset Password

        %p
          If you ignore this email, your password will not be changed. If you didn't request a password reset, please
          = succeed '.' do
            %a{href: 'mailto:help@balances.io'} let us know

        %br
        %br
        %br
        %br

        %center
          = image_tag 'mailer/thumbsup.gif', width: '100%', alt: 'we got ya'

        %br
