.footer-bg
  %footer
    %p.credits
      &copy;2014 Brunch Made LLC.
      %br
      Donations:
      =link_to '16cdkF6w96zYAyxnQENi6UVwgSJ34JkEWZ', 'bitcoin:16cdkF6w96zYAyxnQENi6UVwgSJ34JkEWZ'
    %nav
      %ul
        %li= link_to 'Terms & Privacy', terms_privacy_path
        %li= link_to 'Help', 'mailto:help@balances.io?subject=[support] Need help with Balances'
        %li= link_to '@BalancesApp', 'https://twitter.com/balancesapp', target:'_blank'
