.footer-bg
  %footer
    %p.credits
      2015. Balances is
      =link_to 'open source', 'https://github.com/brunchmade/balances'
      and provided without warranty.
    %nav
      %ul
        %li= link_to 'Terms & Privacy', terms_privacy_path
        %li= link_to 'Help', 'mailto:balancesapp@gmail.com?subject=[support] Need help with Balances'
        %li= link_to '@BalancesApp', 'https://twitter.com/balancesapp', target:'_blank'
