.footer-bg
  %footer
    %p.credits
      &copy;2014 Brunch Made LLC.
      %br
      %br
      %b Donations:
      %br
      Bitcoin:
      =link_to '16cdkF6w96zYAyxnQENi6UVwgSJ34JkEWZ', 'bitcoin:16cdkF6w96zYAyxnQENi6UVwgSJ34JkEWZ', target: '_blank'
      %br
      Dogecoin:
      =link_to 'DGdKwDzA8PVTA324kfyxSiDJtbxj3R6Usp', 'dogecoin:DGdKwDzA8PVTA324kfyxSiDJtbxj3R6Usp', target: '_blank'
      %br
      Stellar:
      =link_to 'g9PKFy4pv96J53JgfvDJbXYvi6xB59Awgs', 'https://launch.stellar.org/#/dashboard', target: '_blank'
    %nav
      %ul
        %li= link_to 'Terms & Privacy', terms_privacy_path
        %li= link_to 'Help', 'mailto:help@balances.io?subject=[support] Need help with Balances'
        %li= link_to '@BalancesApp', 'https://twitter.com/balancesapp', target:'_blank'
