.footer-bg
  %footer
    %p.credits
      &copy;2014 Brunch Made LLC.
      %br
      %br
      %b Donations:
      %br
      Bitcoin:
      <a class="coinbase-button" data-code="e7663eee7fa554b62b864b548b34d329" data-button-style="custom_small" href="https://www.coinbase.com/checkouts/e7663eee7fa554b62b864b548b34d329">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
      %br
      Dogecoin:
      =link_to 'DGdKwDzA8PVTA324kfyxSiDJtbxj3R6Usp', 'dogecoin:DGdKwDzA8PVTA324kfyxSiDJtbxj3R6Usp', target: '_blank'
      %br
      Stellar:
      =link_to 'g9PKFy4pv96J53JgfvDJbXYvi6xB59Awgs', 'https://launch.stellar.org/#/dashboard', target: '_blank'
    %nav
      %ul
        %li= link_to 'Terms & Privacy', terms_privacy_path
        %li= link_to 'Help', 'mailto:help@balances.io?subject=[support] Need help with Balances'
        %li= link_to '@BalancesApp', 'https://twitter.com/balancesapp', target:'_blank'
