.footer-bg
  %footer
    %p.credits
      Crafted in San Francisco and London
      %br
      &copy;2014
    %nav
      %ul
        %li= link_to 'Help', '#'
        %li= link_to 'Apps', '#'
        %li= link_to '@BalancesApp', 'https://twitter.com/balancesapp', target:'_blank'
