.footer-bg
  %footer
    %p.credits
      &copy;2014. Crafted in San Francisco and London
    %nav
      %ul
        %li= link_to 'Terms & Privacy', terms_privacy_path
        %li= link_to 'Help', 'mailto:balancesapp@gmail.com?subject=[support] Need help with Balances'
        %li= link_to '@BalancesApp', 'https://twitter.com/balancesapp', target:'_blank'
