.footer-bg
  %footer
    %p.credits
      &copy;2014 Brunch Made LLC.
      %br
      Donations:
      =link_to '12Rzu1UsUFnBFcdCicDp6VKc9JhRLum3TD', 'bitcoin:12Rzu1UsUFnBFcdCicDp6VKc9JhRLum3TD'
    %nav
      %ul
        %li= link_to 'Terms & Privacy', terms_privacy_path
        %li= link_to 'Help', 'mailto:help@balances.io?subject=[support] Need help with Balances'
        %li= link_to '@BalancesApp', 'https://twitter.com/balancesapp', target:'_blank'
