%script#address-list-template{type: 'text/template'}
  %table#address-list
    - 4.times do
      %tr
        %td.currency-type
          = image_tag 'currencies/litecoin@2x.png', width:40
        %td We Mine Litecoins
        %td.value 51.2452 LTC
      %tr
        %td.currency-type
          = image_tag 'currencies/bitcoin@2x.png', width:40
        %td Coinbase
        %td.value 51.2452 BTC
      %tr
        %td.currency-type
          = image_tag 'currencies/dogecoin@2x.png', width:40
        %td Wow such address many long such breaking
        %td.value 500,000,000 DOGE
  %table#address-list-total
    %tr
      %td Total value:
      %td.value $$$

%script#address-item-template{type: 'text/template'}
  %tr
    %td.currency-type
      = image_tag 'currencies/litecoin@2x.png', width:40
    %td We Mine Litecoins
    %td.value 51.2452 LTC
