%section

  %article.announcement
    =link_to '✕', '#', class: 'close'
    =link_to '#', class: 'icon' do
      =image_tag 'ios@2x.png', width:74
    .content
      %h4 Take your balances with you
      %p Balances is now available for Mac, iOS, and Android with unlimited address sync, push notifications, QR scanning, PIN security, and more.

  %article.add-address
    .currency-type
    %h2.address-field Type, paste, or scan a new wallet address...
    =link_to '#', class: 'scan-qr' do
      =image_tag 'scan-qr@2x.png', width:31

  %article.filters
    =link_to 'Sort by Name ▾', '#', class: 'sort-by'
    =link_to 'Balances ▾', '#', class: 'currency-type'

  %table.list-address
    - 4.times do
      %tr
        %td.currency-type
          =image_tag 'currencies/litecoin@2x.png', width:40
        %td We Mine Litecoins
        %td.value 51.2452 LTC
      %tr
        %td.currency-type
          =image_tag 'currencies/bitcoin@2x.png', width:40
        %td Coinbase
        %td.value 51.2452 BTC
      %tr
        %td.currency-type
          =image_tag 'currencies/dogecoin@2x.png', width:40
        %td Wow such address many long such breaking
        %td.value 500,000,000 DOGE
    %tr.total
      %td
      %td
      %td Total value:
