%section

  %article.announcement
    =link_to '✕', '#', class: 'close'
    =link_to '#', class: 'icon' do
      =image_tag 'ios@2x.png', width:74
    .content
      %h4 Take your balances with you
      %p Balances is now available for Mac, iOS, and Android with unlimited address sync, push notifications, QR scanning, PIN security, and more.

  %article.add-address
    .currency-type
    %h2.address-field Type, paste, or scan a new wallet address...
    =link_to '#', class: 'scan-qr', :data => { :'reveal-id' => 'm-scan-qr' } do
      =image_tag 'scan-qr@2x.png', width:31

    .reveal-modal.medium#m-scan-qr
      %a.close-reveal-modal &#215;
      .scan-viewer#outdiv{ onClick: 'setwebcam()' }
        %h6 Click here to scan your QR code.
        %p Privacy note: images from your webcam don't get uploaded to our server. The whole scanning process is done entirely in your browser.
      %p.helptext Hold your public address up to your computer's camera
      %h5#result Scanning for QR codes...

  %article.filters
    =link_to 'Sort by Name ▾', '#', class: 'sort-by', :data => { :dropdown => 'd-filters' }
    %ul.f-dropdown#d-filters
      %li.current Name
      %li Number of Coins
      %li Value
      %li Currency Type

    =link_to 'Balances ▾', '#', class: 'currency-type', :data => { :dropdown => 'd-balances' }
    %ul.f-dropdown#d-balances
      %li.icon.all-currencies.current All Balances
      %h6 Show as current value in...
      %li.icon.bitcoin Bitcoin
      %li.icon.litecoin Litecoin
      %li.icon.dogecoin Dogecoin
      %h6.lighter Fiat Currencies
      %li.icon.usd US Dollar
      %li.icon.euro Euros
      %li.icon.gbp Pounds Sterling
      %li.icon.yen Japanese Yen

  %table.list-address
    - 4.times do
      %tr
        %td.currency-type
          =image_tag 'currencies/litecoin@2x.png', width:40
        %td We Mine Litecoins
        %td.value 51.2452 LTC
      %tr
        %td.currency-type
          =image_tag 'currencies/bitcoin@2x.png', width:40
        %td Coinbase
        %td.value 51.2452 BTC
      %tr
        %td.currency-type
          =image_tag 'currencies/dogecoin@2x.png', width:40
        %td Wow such address many long such breaking
        %td.value 500,000,000 DOGE
    %tr.total
      %td
      %td
      %td Total value:

<canvas id="qr-canvas" width="640" height="480" style="width: 640px; height: 480px;"></canvas>

