- content_for :title do
  Balances – See all your cryptocoins in one place

.header-bg
  %header
    %nav
      %ul.menu
        %li.twitter= link_to 'balancesapp', 'https://twitter.com/balancesapp'
        %li= link_to 'Sign in', new_user_session_path, class: 'small clear white button'
        %li= link_to 'Download for iOS', '#', class: 'small clear white button'

    %h1 Balances
    %h2 The simple way to monitor your bitcoin, litecoin, and dogecoin balances without compromsing your privacy.
    = link_to 'Sign up – it\'s free', '#', class: 'large brand button'

    .screen

.currencies-bg
  %section.currencies
    %article
      %h3 Keep tabs on all your coins
      %p They won't let you install a wallet on your phone, but that doesn't mean you have to be in the dark about your Bitcoin balances, transactions in, and all of your altcoins.
      %p Balances lets you 'watch' any wallet address from any currency, and can send you push notifications when you receive or send coins.
      .available-coins

.everywhere-bg
  %section.everywhere
    %article
      .devices
      %h3 Everywhere you go
      %p Your wallets might live on your computer, on the web, or in  secret underground bunkers, but Balances keeps track of everything for you, and syncs across all of your devices. We don't store any of your coins – it's all read-only – so even if your phone is stolen, your coins will stay completely safe.
