%h2 Your Addresses

%table
  %thead
    %tr
      %th Currency
      %th Name
      %th Public Address
  %tbody
    - current_user.addresses.each do |w|
      %tr
        %td= w.currency
        %td= w.name
        %td= w.public_address

= link_to '+ Add Addres', new_address_path
