%h2 Your Addresses

%section#address-list-region

= link_to '+ Add Address', new_address_path

- content_for :javascript do
  :javascript
    $(function() {
      B.currentUser = new B.Models.CurrentUser(
        #{@user.html_safe},
        {addresses: #{@addresses.html_safe}}
      );
      BalancesApp.start();
    });
