#address-form {
  margin-bottom: 30px;

  table {
    width: 100%;
    border: none;

    td {
      padding: 0;
      vertical-align: middle;

      &:first-child {
        width: 40px;
      }

      &:last-child {
        width: 31px;
      }
    }
  }

  input {
    @include placeholder-style {
      color: $light-gray-2;
    }
    @include transition(left .25s);
    width: 100%;
    padding: 8px;
    position: relative;
    left: 0;
    border: none;
    color: $medium-gray;
    font-size: 1.375em;
    font-weight: 400;
    outline: none;

    &.is-invalid {
      color: $red;
    }
  }

  .currency-type {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    @include border-radius(20px);
    border: 1px dashed $light-gray-2;

    &.is-filled {
      border: none;
    }
  }

  .address-input {
    position: relative;
    overflow: hidden;
  }

  .address-balance,
  .address-name {
    display: none;
  }

  .scan-qr {
    margin-left: 8px;
  }
}

#address-list {
  @extend .large-8, .small-12, .columns, .small-centered;
  border: none;

  tr {
    background: none;
  }

  td {
    padding: 15px 14px;
    border-bottom: 1px solid $light-gray;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;

    &.currency-type {
      width: 68px;
    }

    &.name {
      word-break: break-all;
    }

    &.value {
      text-align: right;
    }
  }
}

#address-list-total {
  @extend .large-8, .small-12, .columns, .small-centered;
  border: none;

  tr {
    background: none;
  }

  td {
    padding: 15px 14px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: right;
  }
}

#address-filters {
  background: $lighter-gray;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;

  > a {
    height:20px;
    margin: 18px 0;
    padding-left: 23px;
    display: inline-block;
    color: $medium-gray-2;
    font-weight: 600;
    font-size: .8em;
    line-height: 20px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.sort-by {
      background: image-url('filter.svg') no-repeat top left;
    }

    &.currency-type {
      float: right;
      background: image-url('currencies/all-currencies@2x.png') no-repeat top left;
      background-size: 18px;
    }
  }
}
