/* -------------------
/* header
/* -------------------*/
#address-header {
  padding: 25px 0;
  @extend .row;
  margin-top: -30px;

  @media only screen and (max-width: $medium-screen) {
    padding: 15px 0;
  }

  @media only screen and (max-width: $small-screen) {
    margin-top: -15px;
  }

  .refresh {
    @extend .large-3, .medium-1, .small-2, .columns;

    .refresh-data {
      display: block;
      width: 27px;
      height: 32px;
      text-indent: -9999px;
      background: image-url('refresh.svg') no-repeat left center;
      @include opacity(.5);

      &:hover {
        @include transform(rotate(45deg));
        @include opacity(1);
      }
    }
  } // .refresh

  .add-new {
    @extend .large-4, .medium-5, .small-10, .columns;

    @media only screen and (max-width: $small-screen) {
      text-align: right;
    }
  }

  ul {
    @extend .large-5, .medium-6, .columns;
    margin-bottom: 0;
    list-style-type: none;

    @media only screen and (max-width: $small-screen) {
      text-align: center;
      margin-top: 20px;
    }

    li {
      float: right;
      margin-left: 1.6em;
      font-size: .8em;
      text-align: right;

      @media only screen and (max-width: $small-screen) {
        float: none;
        display: inline-block;
        margin: 0 5px;
      }

      &.icon {
        @include currency-symbols;
        background: no-repeat center left;
        background-size: 18px;
        line-height: 32px;
        text-indent: 22px;

        @media only screen and (max-width: $small-screen) {
          text-indent: 18px;
        }
      }

      .downtrend:after {
        content: '';
        display: inline-block;
        vertical-align: 15%;
        width: 4px;
        height: 2px;
        margin-left: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid red;
      }
      .uptrend:after {
        content: '';
        display: inline-block;
        vertical-align: 15%;
        width: 4px;
        height: 2px;
        margin-left: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid green;
      }
    }
  }
} // #address-header


/* -------------------
/* sidebar
/* -------------------*/
#address-sidebar {
  @extend .large-3, .medium-4, .columns;
  border-top: 1px solid $light-gray;
  padding: 0 1.5em 0 .5em;

  @media only screen and (max-width: $small-screen) {
    display: none;
  }
}

#currency-filters {
  list-style-type: none;
  width: 100%;

  li {
    @include border-radius(4px);
    @include transition(all .2s);
    @include clearfix;
    margin: 10px 0;
    padding: 4px 10px;
    line-height: 30px;

    .grand-total {
      font-size: .8em;
      font-weight: 400;
      float: right;
      line-height: 30px;
      color: rgba($dark-gray, .5);
    }

    .total {
      width: 50%;
      float: left;
      font-size: .8em;
      font-weight: 400;
      text-align: right;
      line-height: auto;
      color: rgba($dark-gray, .5);

      .fiat {
        color: rgba($dark-gray, .25);
      }
    }

    a {
      width: 50%;
      float: left;
      text-decoration: none;
      color: $dark-gray;
    }

    &:hover,
    &:active {
      a {
        color: lighten($dark-gray,20%);
      }
    }

    &.current {
      background-color: $brand-teal;
      color: $white;
      a {
        color: $white;
      }
      .total, .grand-total {
        color: rgba(0,0,0,.5);
      }
      .fiat {
        color: rgba(0,0,0,.3);
      }
    }
  }
} // #currency-filters

#announcement {
  margin-top: 40px;
  border-top: 1px solid $light-gray;
  padding-top: 40px;
  text-align: center;
  position: relative;

  a {
    text-decoration: none;
  }

  h4 {
    font-size: .9em;
    margin: 20px 0 10px;
    color: $medium-gray-3;
  }

  p {
    font-size: .9em;
    color: $medium-gray-2;
    margin: 0;
  }

  .close-announcement {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5em;
    font-weight: 100;
    @include opacity(.25);
    text-decoration: none;
    color: $medium-gray-3;
    &:hover { @include opacity(1); }
  }
}

#secondary-nav {
  margin-top: 40px;
  border-top: 1px solid $light-gray;
  list-style-type: none;
  padding: 30px 1.5em 0 .5em;

  li {
    margin: 8px 0;
  }
  a {
    color: rgba($medium-gray-2,.8);
    font-size: .9em;
    text-decoration: none;

    &:hover {
      color: $brand;
      text-decoration: underline;
    }
  }
} // #secondary-nav

/* -------------------
/* form
/* -------------------*/
#address-form {
  display: none;
  border-top: 1px solid $light-gray;
  padding-top: 10px;

  table {
    width: 100%;
    border: none;
    margin-bottom: 10px;

    td {
      vertical-align: middle;

      &:first-child {
        width: 34px;
        padding-left: 15px;
      }

      &:last-child {
        width: 80px;
      }
    }
  }

  input {
    @include placeholder-style {
      color: $light-gray-2;
    }
    width: 100%;
    padding: 0 2px;
    border: none;
    color: $medium-gray;
    font-size: 1.375em;
    font-weight: 400;
    outline: none;
    vertical-align: middle;
    @media only screen and (max-width: $small-screen) {
      padding: 2px;
    }

    &.is-valid {
      color: $green;
    }

    &.is-invalid {
      color: $red;
    }
  }

  .currency-type {
    width: 34px;
    height: 34px;
    margin-right: 8px;
    @include border-radius(17px);
    border: 1px dashed $light-gray-2;
    @media only screen and (max-width: $small-screen) {
      width: 30px;
      height: 30px;
      margin: 0px;
    }

    &.is-filled {
      border: none;
    }
  }

  .address-input {
    position: relative;
    overflow: hidden;
  }

  .address-name {
    width: auto;
  }

  .hidden-public-firstbits {
    display: none;
    padding: 8px;
    font-size: 1.375em;
    font-weight: 400;
  }

  .address-actions {
    white-space: nowrap;
  }

  .btn-save {
    margin-bottom: 0;
    font-size: 13px;
    border: 0;
    padding: 0 25px;
    background: rgba($brand-teal,.85);
    font-weight: 300;

    &:hover, &:active {
      background: rgba($brand-teal,1);
      color: $white;
    }
  }

  .btn-cancel {
    font-size: 24px;
    color: $light-gray-2;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 10px;

    &:hover, &:active {
      color: $medium-gray;
    }
  }

  .address-balance,
  .address-name,
  .btn-save,
  .btn-cancel {
    display: none;
  }

  .scan-qr, .import-csv {
    @include mobile-hidden;
    text-decoration: none;
    margin-left: 8px;
  }
}

#address-errors {
  display: none;
}


/* -------------------
/* list
/* -------------------*/
#address-list-region {
  @extend .large-9, .medium-8, .small-12, .columns;
  border-top: 1px solid $light-gray;
  padding-right: 0;

  @media only screen and (max-width: $small-screen) {
    padding: 0;
  }
}

#address-list {
  width: 100%;
  border: none;

  tr {
    background: none;

    &.is-editing td {
      vertical-align: top;
    }
  }

  td {
    padding: 15px 14px;
    border-bottom: 1px solid $light-gray;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    @media only screen and (max-width: $small-screen) {
      padding: 10px 5px;
    }

    &.currency-type {
      width: 62px;
      @media only screen and (max-width: $small-screen) {
        width: 36px;
      }
    }

    &.name {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li {
        display: inline;
        font-size: .6em;
      }
    }

    &.value {
      width: 1px;
      text-align: right;
    }

    &.empty-state {
      text-align: center;
      padding: 100px 0;

      img.partytime {
        font-size: 80px;
        text-align: center;
      }
    }

    .display-name {
      color: $dark-gray;
      text-decoration: none;
    }

    input,
    textarea {
      font-size: 1em;
    }
  }
}

#address-list-total {
  width: 100%;
  border: none;

  tr {
    background: none;

    &.total-value {
      border-top: 2px solid $light-gray;
      td {
        padding: 15px 14px;
        font-weight: 600;

        @media only screen and (max-width: $small-screen) {
          padding-right: 5px;
        }
      }
    }
  }

  td {
    padding: 0 14px 15px;
    font-size: 1.2em;
    text-align: right;

    &.value {
      width: 1px;
      white-space: nowrap;
    }

    @media only screen and (max-width: $small-screen) {
      padding: 10px 5px;
    }
  }
}

#address-filters {
  background: lighten($light-gray, 5%);
  border-bottom: 1px solid $light-gray;
  padding: 0 1em;

  > a {
    height:20px;
    margin: 18px 0;
    padding-left: 23px;
    display: inline-block;
    color: $medium-gray-2;
    font-weight: 600;
    font-size: .8em;
    line-height: 20px;
    text-decoration: none;
    @media only screen and (max-width: $small-screen) {
     margin: 10px 0 7px;
    }


    &:hover,
    &:focus {
      color: $medium-gray-3;
    }

    span {
      color: inherit;
      font-weight: inherit;
    }

    &.sort-by {
      background: image-url('filter.svg') no-repeat top left;
    }

    &.currency-type {
      @include currency-symbols;
      float: right;
      background: no-repeat top left;
      background-size: 18px;
    }
  }
}
