/*
 * Buttons and Forms
 */

label { display: inline-block; }

input[type=text], input[type=password], input[type=email], input[type=tel] {
  @include border-radius(4px);
  @include box-shadow(none);
  padding: 6px 8px 4px;
  font-size: 1em;
  border: 1px solid $light-gray-2;
  &:focus {
    border:1px solid $brand;
    box-shadow: 0 0 3px tint($brand, 80%);
  }
}

input[type=submit] {
  @include border-radius(40px);
  @include box-shadow(none);
  border: none;
  padding: 10px 30px;
  font-size: 1em;
  font-weight: 600;
  background: $brand;
  color: $white;
  @include transition(all .2s);

  &:hover,
  &:focus {
    background: darken($brand, 5%);
  }
}

input[type=submit].delete-button {
  color: lighten(red, 20%);
  border: 1px solid rgba(0,0,0,.1);
  background: transparent;
  padding: 6px 20px;
  font-size: .85em;
  font-weight: 100;
  float: right;
  &:hover {
    color: red;
    border-color: red;
  }
}

// Devise error overrides
#error_explanation {
  h2 {
    display: none;
  }
  ul li {
    color: lighten(red, 20%);
  }
}

// Dropdown styles
.f-dropdown {
  min-width: 180px;
  list-style: none;
  background: $white;
  @include border-radius(6px);
  @include box-shadow(0 1px 4px 0 rgba(0,0,0,0.15));
  border: 1px solid #E0E0E0;
  font-size: .9em;
  padding: 8px 0;


  li {
    padding: 6px 12px 4px;
    color: $medium-gray-2;
    cursor: pointer;
    line-height: 20px;
    @include transition(all .1s);

    a {
      color: inherit;
      text-decoration: none;
      width: 100%;
      display: inline-block;
      padding: 0;
      @include transition(none);
    }

    &:hover,
    &:focus {
      background-color: $brand;
      color: $white;
    }
    &.current {
      font-weight: 600;
      &:after {
        background: image-url('checkmark.svg') no-repeat;
        background-size: contain;
        margin: 2px 0 0;
        width: 12px;
        height: 12px;
        content: '';
        float: right;
        display: inline-block;
      }
      &:hover:after {
        -webkit-filter: brightness(10);
      }
    }
  }

  h6 {
    font-weight: 600;
    margin: 8px 12px 4px;
    &.lighter {
      color: $medium-gray-2;
    }
  }
  // For the Currency Type dropdown
  .icon, .icon:hover, .icon:focus {
    text-indent: 26px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 20px;

    &.all-currencies { background-image: image-url('currencies/all-currencies@2x.png'); }
    &.bitcoin { background-image: image-url('currencies/bitcoin-small@2x.png'); }
    &.litecoin { background-image: image-url('currencies/litecoin-small@2x.png'); }
    &.dogecoin { background-image: image-url('currencies/dogecoin-small@2x.png'); }
    //fiat
    &.usd { background-image: image-url('currencies/usd-small@2x.png'); }
    &.euro { background-image: image-url('currencies/euro-small@2x.png'); }
    &.gbp { background-image: image-url('currencies/gbp-small@2x.png'); }
    &.yen { background-image: image-url('currencies/yen-small@2x.png'); }
  }
} // .dropdown
