/*
 * Buttons and Forms
 */
.button {
  text-align: center;
  font-weight: 300;
  @include box-shadow(none);
  @include transition(all .2s);
  border: none;

  &.small {
    @include border-radius(15px);
    padding: 0 20px;
    font-size: 16px;
    line-height: 30px;
  }

  &.large {
    @include border-radius(25px);
    padding: 0 50px;
    font-size: 1.4em;
    line-height: 56px;

    @media only screen and (max-width: $small-screen) {
      width: 100%;
      padding: 0;
    }
  }

  &.clear {
    background: transparent;
    border: 1px solid;

    &.white {
      border-color: rgba($white,.5);
      color: rgba($white,.8);

      &:hover,
      &:focus {
        border-color: rgba($white,.8);
        color: rgba($white,1);
      }
    }
  }

  &.brand {
    color: $white;
    background: rgba($brand,.75);

    &:hover,
    &:focus {
      background: rgba($brand,1);
    }
  }
}

label {
  display: inline-block;
  font-size: .8em;
  font-weight: 600;
}

i.labels {
  color: darken($light-gray-2, 20%);
  font-size: .8em;
}

.form-helptext {
  margin-top: -10px;
  font-size: 1em;
  line-height: 1.2em;
  font-style: italic;
  color: $medium-gray;
}


input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
  @include border-radius(4px);
  @include box-shadow(none);
  padding: 6px 8px 4px;
  font-size: 1.2em;
  border: 1px solid $light-gray-2;
  &:focus {
    border:1px solid $brand;
    box-shadow: 0 0 3px tint($brand, 80%);
    background: $white;
  }
}

input[type=submit] {
  @include border-radius(40px);
  @include box-shadow(none);
  border: none;
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: 600;
  background: $brand;
  color: $white;
  @include transition(all .2s);

  &:hover,
  &:focus {
    background: darken($brand, 5%);
  }
}

hr {
  margin-top: 100px;
}

input[type=submit].delete-button {
  color: lighten(red, 20%);
  border: 1px solid lighten(red, 45%);
  background: transparent;
  padding: 6px 20px;
  font-size: 1em;
  font-weight: 100;
  &:hover {
    color: red;
    border-color: red;
  }
}

// Devise error overrides
#error_explanation {
  h2 {
    display: none;
  }
  ul li {
    color: lighten(red, 20%);
  }
}

// Dropdowns
.f-dropdown {
  @include border-radius(6px);
  @include box-shadow(0 1px 4px 0 rgba(0,0,0,0.15));
  min-width: 180px;
  padding: 8px 0;
  border: 1px solid #e0e0e0;
  font-size: .9em;
  @media only screen and (max-width: $small-screen) {
    font-size: 1.3em;
  }

  &:after {
    border-color: transparent transparent #e0e0e0 transparent;
  }

  li {
    @include transition(all .1s);
    color: $medium-gray-2;
    line-height: 20px;
    cursor: default;

    a {
      padding: 6px 12px 4px;
      text-decoration: none;
      @media only screen and (max-width: $small-screen) {
        padding: 12px 12px 8px;
      }

      &:hover,
      &:focus {
        background-color: $brand;
        color: $white;
      }

      &.current {
        font-weight: 600;

        &:after {
          background: image-url('checkmark.svg') no-repeat;
          background-size: contain;
          margin: 2px 0 0;
          width: 12px;
          height: 12px;
          content: '';
          float: right;
          display: inline-block;
        }

        &:hover,
        &:focus {
          &:after {
            -webkit-filter: brightness(10);
          }
        }
      }
    }
  }

  h6 {
    margin: 8px 12px 4px;
    font-weight: 600;

    &.lighter {
      color: $medium-gray-2;
    }
  }

  // Currency icons
  .icon,
  .icon:hover,
  .icon:focus {
    text-indent: 26px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 20px;

    // Digital
    &.all-currencies { background-image: image-url('currencies/all-currencies@2x.png'); }
    &.bitcoin { background-image: image-url('currencies/bitcoin-small@2x.png'); }
    &.litecoin { background-image: image-url('currencies/litecoin-small@2x.png'); }
    &.dogecoin { background-image: image-url('currencies/dogecoin-small@2x.png'); }

    // Fiat
    &.usd { background-image: image-url('currencies/usd-small@2x.png'); }
    &.euro { background-image: image-url('currencies/euro-small@2x.png'); }
    &.gbp { background-image: image-url('currencies/gbp-small@2x.png'); }
    &.yen { background-image: image-url('currencies/yen-small@2x.png'); }
  }
}
