/*
 * Buttons and Forms
 */

label { display: inline-block; }

input[type=text], input[type=password], input[type=email], input[type=tel] {
  @include border-radius(4px);
  @include box-shadow(none);
  padding: 6px 8px 4px;
  font-size: 1em;
  border: 1px solid $light-gray-2;
  &:focus {
    border:1px solid $brand;
    box-shadow: 0 0 3px tint($brand, 80%);
  }
}

input[type=submit] {
  @include border-radius(40px);
  @include box-shadow(none);
  border: none;
  padding: 10px 30px;
  font-size: 1em;
  font-weight: 600;
  background: $brand;
  color: $white;
  @include transition(all .2s);

  &:hover,
  &:focus {
    background: darken($brand, 5%);
  }
}
