/*
 * Footer
 */

.footer-bg {
  padding: 20px 0 10px;
  margin-top: 120px;
}

footer {
  @include grid-row();
  @media only screen and (max-width: $small-screen) {
    text-align: center;
  }
  a {
    font-size: .8em;
    color: $medium-gray;
    text-decoration: none;
    &:hover,
    &:active { text-decoration: underline; }
  }
  p {
    color: $medium-gray;
    font-size: .8em;
    @extend .medium-6, .small-12, .columns;

    a {
      font-size: 1em;
      color: $brand;
    }
  }

  nav {
    @extend .medium-6, .small-12, .columns;

    ul {
      list-style: none;
      text-align: right;
      @media only screen and (max-width: $small-screen) {
        text-align: center;
      }

      li {
        display: inline;
        margin-left: 1.2em;
      }
    }
  }
}
