/*
 * Footer
 */

.footer-bg {
  border-top: 1px solid $light-gray;
  padding-top: 5px;
  margin-top: 120px;
}

footer {
  @include grid-row();

  a {
    font-size: .8em;
    color: $medium-gray;
    text-decoration: none;
    &:hover,
    &:active { text-decoration: underline; }
  }
  p {
    color: $medium-gray;
    font-size: .8em;
    @extend .large-4, .small-12, .push-2, .columns;
  }

  nav {
    @extend .large-4, .small-12, .push-2, .columns;

    ul {
      list-style: none;
      text-align: right;

      li {
        display: inline;
        margin-left: 1.2em;
      }
    }
  }
}
