/*
 * Header
 */

.top-bar {
  background: $brand;
  height: 70px;
  margin-bottom: 30px;
}
header {
  color: $white;

  a {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    margin-top: 26px;
    display: inline-block;

    &.current { text-decoration: underline; }

    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }

  #logo {
    height: 40px;
    width: 36px;
    margin: 14px 40px 0 0;
    background: image-url('logo.svg') no-repeat;
    background-size: contain;
    float: left;
  }

  nav {
    @include grid-column(8);

    ul {

      li {
        display: inline;
        margin-right: 60px;
      }
    }
  }

  .user {
    text-align: right;
    @include grid-column(
      $columns:2,
      $float:right
    );
  }
  .account-menu {
    display: none;
  }
}
