/*
 * Header
 */

.top-bar {
  background: $brand;
  border-bottom: 1px solid darken($brand,5%);
  height: 70px;
  overflow: visible;
  @media only screen and (max-width: $small-screen) {
   height: 50px;
  }
}

header {
  @include grid-row();

  #logo {
    height: 36px;
    width: 32px;
    margin: 16px .95em;
    background: image-url('logo@2x.png') no-repeat;
    background-size: contain;
    float: left;
    display: block;
    @media only screen and (max-width: $small-screen) {
     float: none;
     height: 32px;
     width: 28px;
     position: absolute;
     margin: 10px 50% 0;
     left: -16px;
    }
  } // #logo

  nav {
    @include transition(all .1s);
    &.main {
      @media only screen and (max-width: $small-screen) {
      display: none;
      }
    }
    &.mobile {
      @media only screen and (min-width: $small-screen) {
      display: none;
      }
      #hamburger {
        height: 20px;
        width: 25px;
        margin: 15px .95em;
        background: image-url('hamburger.svg') no-repeat;
        background-size: contain;
        float: left;
        display: block;
        opacity: .8;
        &:hover, &:active {
          opacity: 1;
        }
      } // #hamburger

      .user {
        color: $white;
        text-decoration: none;
        font-weight: 400;
        margin-top: 18px;
        display: inline-block;
        float: right;
        font-size: 16px;
        margin-right: .95em;
        opacity: .8;

        &.current { opacity: 1; }

        &:hover,
        &:focus {
          color: $white;
          opacity: 1;
        }
      }
    }

    ul.menu {
      > li {
        float: left;
        margin: 0 1em;
        color: $white;
        font-weight: 300;
        margin-top: 26px;

        > a {
          color: $white;
          text-decoration: none;
          font-weight: 400;
          display: inline-block;
          opacity: .8;

          &.current { opacity: 1; }

          &:hover,
          &:focus {
            color: $white;
            opacity: 1;
          }
        }

        .lighter {
          opacity: .8;
          color: $white;
        }

        &.current-balance {
          float: right;
        }

        &.user {
          text-align: right;
          float: right;
        }
      }
    }

    .f-dropdown {
      text-align: left;
    }
  } // nav
} // header

.ticker-bar {
  padding: 20px 0;

  ul {
    @extend .row;
    margin-bottom: 0;
    list-style-type: none;

    li {
      float: right;
      margin-left: 1em;
      margin-right: 1em;
      font-size: .8em;
      text-align: right;

      &.refresh {
        float: left;
        text-align: left;
        margin-left: 1em;

        .refresh-data {
          display: block;
          width: 24px;
          height: 19px;
          text-indent: -9999px;
          background: image-url('refresh.svg') no-repeat;
          opacity: .7;

          &:hover {
            @include transform(rotate(45deg));
            opacity: .9;
          }
        }
      }
    }
  }
}
