/*
 * Header
 */

.top-bar {
  background: $brand;
  height: 70px;
  margin-bottom: 30px;
}
header {
  color: $white;
  @include grid-row();

  a {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    margin-top: 26px;
    display: inline-block;

    &.current { text-decoration: underline; }

    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }

  #logo {
    height: 36px;
    width: 32px;
    margin: 16px .95em;
    background: image-url('logo@2x.png') no-repeat;
    background-size: contain;
    float: left;
    display: block;
    @media only screen and (max-width: $small-screen) {
     float: none;
     margin: 16px auto 0;
    }
  }

  nav {
    @media only screen and (max-width: $small-screen) {
     display: none;
    }

    ul {
      li {
        float: left;
        margin: 0 1em;
        &.user {
          text-align: right;
          float: right;
        }
      }
    }
  }

  .account-menu {
    display: none;
  }
}
