/*
 * This is a manifest file that'll be compiled into landing.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@charset "utf-8";

@import 'normalize-rails';
@import 'compass';
@import 'foundation_and_overrides';
@import 'mixins_and_variables';
@import 'animate';

* {
  font-size: 20px;
  line-height: 1.2em;
  font-family: "proxima-nova",sans-serif;
  color: $dark-gray;
  font-weight: 300;
  @media only screen and (max-width: $small-screen) {
   font-size: 16px;
   line-height: 1.1em;
  }
}

h1,h2,h3,h4,h5,h6 { font-family: "proxima-nova",sans-serif; color: $dark-gray; }

a {
  color: darken($brand, 5%);
  text-decoration: underline;
  @include transition(all .2s);
  &:hover {
    color: darken($brand, 15%);
  }
}

p {
  font-weight: 300;
}

::selection {
  background: $brand;
  color: $white !important;
  }
::-moz-selection {
  background: $brand;
  color: $white !important;
}

/*
 * Buttons
 */

.button {
  text-align: center;
  font-weight: 300;
  @include box-shadow(none);
  @include transition(all .2s);
  border: none;

  &.small {
    height: 30px;
    @include border-radius(15px);
    padding: 4px 20px 0;
    font-size: 16px !important;
  }
  &.large {
    height: 54px;
    @include border-radius(25px);
    padding: 10px 50px 0;
    font-size: 1.4em !important
  }

  &.clear {
    background: transparent;
    border: 1px solid;
    &.white {
      border-color: rgba($white,.5);
      color: rgba($white,.8);
      &:hover {
        border-color: rgba($white,.8);
        color: rgba($white,1);
      }
    }
  }
  &.brand {
    color: $white;
    background: rgba($brand,.75);
    &:hover {
      background: rgba($brand,1);
    }
  }
}

/*
 * Header
 */

@-webkit-keyframes topspin  {
  0%  { -webkit-transform:  rotate(0deg); }
  50%  { -webkit-transform:  rotate(-17deg) translate(0,2px); }
  100%  { -webkit-transform:  rotate(0deg); }
}


.header-bg {
  background: image_url('landing/header-bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 750px;
  overflow: hidden;
  position: relative;
  @media only screen and (max-width: $small-screen) {
    background-attachment: scroll;
    height: auto;
    padding-bottom: 20px;
  }
}
header {
  padding: 16px 16px 0;
  text-align: center;

  nav {
    margin-bottom: 0px;
    @media only screen and (max-width: $small-screen) {
      margin-bottom: 55px;
    }
    ul {
      list-style: none;
      overflow: hidden;
      margin: 0;
      li {
        display: inline-block;
        float: right;
        a { margin: 0 !important; }

        &.ios {
          margin: 0 16px 0 0;
          @media only screen and (max-width: $small-screen) {
            display: none;
          }
        }
        &.twitter {
          background: image_url('landing/twitter.svg') no-repeat center left;
          background-size: 21px;
          text-indent: 25px;
          opacity: .8;
          margin: 2px 32px 0 0;
          @include transition(all .2s);
          &:hover {
            opacity: 1;
          }
          a {
            color: $white;
            font-size: 16px;
            text-decoration: none;
          }
          @media only screen and (max-width: $small-screen) {
            display: none;
          }
        }
        &.logo {
          float: left;
          margin: 0;

          h1 {
            background: image_url('landing/logo.svg') no-repeat top left;
            background-size: contain;
            background-position: 28px 0;
            color: $white;
            font-family: "crete-round", "proxima-nova",sans-serif;
            font-style: italic;
            font-size: 0;
            margin: 0;
            width: 134px;
            height: 24px;
            .top {
              background: image_url('landing/top.svg') no-repeat center;
              background-size: contain;
              width: 22px;
              height: 32px;
              display: block;
              float: left;
              margin: -5px 0 0;
              -webkit-transform-origin: 28% 75%;
              -webkit-animation: topspin 1.2s ease-in-out infinite;
              -webkit-animation-delay: 2s;
            }
          }
        }
      }
    }
  }

  h2 {
    font-weight: 100;
    font-size: 2.3em;
    color: $white;
    margin: 50px auto 0;
    max-width: 1050px;
    @media only screen and (max-width: $small-screen) {
      font-size: 1.5em;
    }
  }

  h4 {
    color: $white;
    font-size: .88em;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .screen {
    background: image_url('landing/screen@2x.jpg') no-repeat top center;
    background-size: cover;
    width: 90%;
    max-width: 900px;
    margin: 30px auto 0;
    height: 400px;
    border: 35px solid $black;
    border-bottom: none;
    @include border-radius(33px 33px 0 0);
    @include box-shadow(0 0 0 2px #ccc);
    @media only screen and (max-width: $small-screen) {
      display: none;
    }
  }
}

.unified-bg, .currencies-bg {
  @include background-gradient(#F6F6F6,#ffffff);
  padding: 80px 0;
  @media only screen and (max-width: $small-screen) {
   padding: 30px 0;
  }
}
.everywhere-bg {
  background: rgba(#1F2932,.9) image_url('landing/everywhere-bg.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  @media only screen and (max-width: $small-screen) {
   padding: 25px 0;
   background-attachment: scroll;
  }
}
.security-bg {
  @include background-gradient(#F6F6F6,#ffffff);
  padding: 80px 0;
  @media only screen and (max-width: $small-screen) {
   padding: 30px 0;
  }
}

section {
  @include grid-row();
  text-align: center;

  h3 {
    font-family: "crete-round", "proxima-nova",sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.8em;
    margin: 0 auto 50px;
    @media only screen and (max-width: $small-screen) {
     margin-bottom: 25px;
    }
  }

  &.unified {
    img {
      margin: 40px auto 60px;
      width: 90%;
      @media only screen and (max-width: $small-screen) {
       margin: 25px 0 40px;
       margin-left: 5%;
      }
    }
  }

  &.everywhere {
    h3 {
      color: $white;
      margin-bottom: 0;
    }
    img {
      margin-bottom: 40px;
      @media only screen and (max-width: $small-screen) {
       width: 90%;
       margin-left: 5%;
      }
    }
  }

  &.currencies {
    img {
      margin: 40px auto;
      @media only screen and (max-width: $small-screen) {
       margin: 20px auto;
      }
    }
  }

  &.security {
    .columns {
      p {
        text-align: left;
        font-size: .9em;
        a { font-size: 1em; }
      }
      img {
        height: 80px;
        margin: 20px auto 40px;
      }
    }
  }

  article {
    @extend .large-8, .small-12, .columns, .small-centered;
  }
  article.small {
    @extend .large-5, .small-11, .columns, .small-centered;
  }
}

@import 'footer';
