* {
  font-size: 1em;
  line-height: 1.2em;
  font-family: "proxima-nova",sans-serif;
  color: $dark-gray;
  font-weight: 300;
  @media only screen and (max-width: $small-screen) {
   font-size: .95em;
  }
}

h1,h2,h3,h4,h5,h6 { font-family: "proxima-nova",sans-serif; color: $dark-gray; }

a {
  color: darken($brand, 5%);
  text-decoration: underline;
  @include transition(all .2s);
  &:hover {
    color: darken($brand, 15%);
  }
}

::selection {
  background: $brand;
  color: $white !important;
}

::-moz-selection {
  background: $brand;
  color: $white !important;
}

@-webkit-keyframes yellow-fade {
  0% { background: #ffff99; }
  100% { background: none; }
}

@keyframes yellow-fade {
  0% { background: #ffff99; }
  100% { background: none; }
}

.highlight {
  -webkit-animation: yellow-fade 2s ease-in 1;
  animation: yellow-fade 2s ease-in 1;
}

section {
  @include grid-row();

  article {
    @extend .large-8, .small-12, .columns, .small-centered;
  }
  article.small {
    @extend .large-5, .small-11, .columns, .small-centered;
  }

  .announcement {
    @include border-radius(6px);
    background: #f6f6f6;
    padding: 14px 14px 0;
    margin-bottom: 30px;
    clear: both;
    min-height: 102px;

    a {
      float: left;
      margin-right: 14px;
      display: block;
    }

    .content {
      overflow: hidden;
      _overflow: visible;
      margin-top: 5px;

      h4 {
        font-size: 1em;
        margin: 0 0 .2em;
      }

      p {
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 14px;
      }
    }

    .close {
      font-size: .8em;
      position: absolute;
      top: 4px;
      right: -6px;
      color: rgba(0,0,0,.2);
      text-decoration: none;
      &:hover,
      &:focus { color: rgba(0,0,0,0.6); }
    }
  } // .announcement

} // .section
