* {
  font-size: 1em;
  line-height: 1.2em;
  font-family: "proxima-nova",sans-serif;
  color: $dark-gray;
  font-weight: 300;
  @media #{$small-only} {
   font-size: .95em;
  }
}

h1,h2,h3,h4,h5,h6 { font-family: "proxima-nova",sans-serif; color: $dark-gray; }

a {
  color: darken($brand, 5%);
  text-decoration: underline;
  @include transition(all .2s);
  &:hover {
    color: darken($brand, 15%);
  }
}

::selection {
  background: $brand;
  color: $white !important;
}

::-moz-selection {
  background: $brand;
  color: $white !important;
}

section {
  @include grid-row();

  article {
    @extend .large-8, .small-12, .columns, .small-centered;
  }
  article.small {
    @extend .large-5, .small-11, .columns, .small-centered;
  }

  .announcement {
    @include border-radius(6px);
    background: #f6f6f6;
    padding: 14px 14px 0;
    margin-bottom: 30px;
    clear: both;
    min-height: 102px;

    a {
      float: left;
      margin-right: 14px;
      display: block;
    }

    .content {
      overflow: hidden;
      _overflow: visible;
      margin-top: 5px;

      h4 {
        font-size: 1em;
        margin: 0 0 .2em;
      }

      p {
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 14px;
      }
    }

    .close {
      font-size: .8em;
      position: absolute;
      top: 4px;
      right: -6px;
      color: rgba(0,0,0,.2);
      text-decoration: none;
      &:hover,
      &:focus { color: rgba(0,0,0,0.6); }
    }
  } // .announcement

  .add-address {
    margin-bottom: 30px;

    .currency-type {
      width: 40px;
      height: 40px;
      @include border-radius(20px);
      border: 1px dashed $light-gray-2;
      float: left;
      margin-right: 16px;
    }

    h2 {
      font-size: 1.375em;
      line-height: 40px;
      font-weight: 400;
      color: $light-gray-2;
      display: inline;
      margin: 0;
    }

    .scan-qr {
      float: right;
      margin-top: 6px;
    }

  } // .add-address

  .filters {
    background: $lighter-gray;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    a {
      color: $medium-gray-2;
      font-weight: 600;
      font-size: .8em;
      line-height: 20px;
      display: inline-block;
      margin: 18px 0;
      text-decoration: none;
      padding-left: 23px;
      height:20px;

      &:hover,
      &:focus { text-decoration: underline; }

      &.sort-by {
        background: image-url('filter.svg') no-repeat top left;
      }
      &.currency-type {
        background: image-url('currencies/all-currencies@2x.png') no-repeat top left;
        background-size: 18px;
        float: right;
      }
    }

  } // .filters

} // .section
