/*
 * Variables
 */

$brand: #1ca9c9;
$brand-teal: #4bcfcd;
$brand-purple: #817db8;
$white: #ffffff;
$black: #000000;
$green: #7bd500;
$red: #d12020;
$light-gray: #ebebeb;
$lighter-gray: #fafafa;
$light-gray-2: #d4d4d4;
$medium-gray: #898989;
$medium-gray-2: #9b9b9b;
$medium-gray-3: #7a7a7a;
$dark-gray: #4a4a4a;

@mixin mobile-hidden {
  @media only screen and (max-width: $small-screen) {
    display: none;
  }
}

/*
 * Mixins
 */

@mixin currency-symbols {
  // Digital
  &.all { background-image: image-url('currencies/all-currencies.svg'); }
  &.btc { background-image: image-url('currencies/bitcoin-small.svg'); }
  &.ltc { background-image: image-url('currencies/litecoin-small.svg'); }
  &.doge { background-image: image-url('currencies/dogecoin-small.svg'); }

  // Fiat
  &.usd { background-image: image-url('currencies/usd-small.svg'); }
  &.eur { background-image: image-url('currencies/euro-small.svg'); }
  &.gbp { background-image: image-url('currencies/gbp-small.svg'); }
  &.jpy { background-image: image-url('currencies/yen-small.svg'); }
}

@mixin background-gradient($from, $to) {
  background: $from; /* Old browsers */
  background: -moz-linear-gradient(left top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(left top, $from 0%,$to 100%);
  background: -o-linear-gradient(left top, $from 0%,$to 100%);
  background: -ms-linear-gradient(left top, $from 0%,$to 100%);
  background: linear-gradient(left top, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}

// Placeholder @mixin for Sass
//
// A mixin to style placeholders in HTML5 form elements.
// Includes also a .placeholder class to be used with a polyfill e.g.
// https://github.com/mathiasbynens/jquery-placeholder
// Requires Sass 3.2.
//
// Example usage (.scss):
//
// input {
//   @include placeholder-style {
//     /* styles for placeholder here */
//   }
// }
//

@mixin placeholder-style {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
