/*
 * Variables
 */

$brand: #1ca9c9;
$brand-teal: #4bcfcd;
$brand-purple: #817db8;
$white: #ffffff;
$black: #000000;
$green: #7bd500;
$red: #d12020;
$light-gray: #ebebeb;
$lighter-gray: #fafafa;
$light-gray-2: #d4d4d4;
$medium-gray: #898989;
$medium-gray-2: #9b9b9b;
$medium-gray-3: #7a7a7a;
$dark-gray: #4a4a4a;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@mixin mobile-hidden {
  @media only screen and (max-width: $small-screen) {
    display: none;
  }
}

/*
 * Mixins
 */

@mixin currency-symbols {
  // Digital
  &.all { background-image: image-url('currencies/all-currencies.svg'); }
  &.btc { background-image: image-url('currencies/bitcoin-small.svg'); }
  &.doge { background-image: image-url('currencies/dogecoin-small.svg'); }
  &.ltc { background-image: image-url('currencies/litecoin-small.svg'); }
  &.str { background-image: image-url('currencies/stellar-small.svg'); }
  &.vtc { background-image: image-url('currencies/vertcoin-small.svg'); }

  // Fiat
  &.usd { background-image: image-url('currencies/usd-small.svg'); }
  &.eur { background-image: image-url('currencies/euro-small.svg'); }
  &.gbp { background-image: image-url('currencies/gbp-small.svg'); }
  &.jpy { background-image: image-url('currencies/yen-small.svg'); }
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}

// Placeholder @mixin for Sass
//
// A mixin to style placeholders in HTML5 form elements.
// Includes also a .placeholder class to be used with a polyfill e.g.
// https://github.com/mathiasbynens/jquery-placeholder
// Requires Sass 3.2.
//
// Example usage (.scss):
//
// input {
//   @include placeholder-style {
//     /* styles for placeholder here */
//   }
// }
//

@mixin placeholder-style {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
