/*
 * Variables
 */

$brand: #20d1cf;
$white: #ffffff;
$black: #000000;
$green: #7bd500;
$red: #d12020;
$light-gray: #ebebeb;
$lighter-gray: #fafafa;
$light-gray-2: #d4d4d4;
$medium-gray: #898989;
$medium-gray-2: #9b9b9b;
$dark-gray: #4a4a4a;

/*
 * Mixins
 */

@mixin background-gradient($from, $to) {
  background: $from; /* Old browsers */
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: -ms-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}

// Placeholder @mixin for Sass
//
// A mixin to style placeholders in HTML5 form elements.
// Includes also a .placeholder class to be used with a polyfill e.g.
// https://github.com/mathiasbynens/jquery-placeholder
// Requires Sass 3.2.
//
// Example usage (.scss):
//
// input {
//   @include placeholder-style {
//     /* styles for placeholder here */
//   }
// }
//

@mixin placeholder-style {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
