- content_for :title do
  Recent Transactions

%section
  .large-8.medium-6.columns
    %h4 Recent Transactions is still in beta.
    Soon you’ll be able to track all of your spending, mining, and investments in one place.
  .large-4.medium-6.columns.right.feature-requests
    = link_to "What features do you want?", "https://balances.uservoice.com/forums/244164-suggestions/suggestions/6200368-ideas-and-feature-requests-for-recent-transactions", class: "brand teal button"

%section
  = image_tag('wireframe.svg')
