- content_for :title do
  Recent Transactions

%section
  .large-8.medium-6.columns
    %h4 Recent Transactions is still in beta.
    Soon you’ll be able to track all of your spending, mining, and investments in one place.
  .large-4.medium-6.columns.right.feature-requests
    = link_to 'What features do you want?', ENV['USERVOICE_WHAT_FEATURES_URL'], class: "brand teal button", target: '_blank'

%section
  = image_tag('wireframe.svg')
